@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400&family=Work+Sans:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Lato", sans-serif;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
  list-style: none;
  text-decoration: none;

}

a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hero {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../src/assets/hero-img.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../src/assets/hero-img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width:600px) {
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 100vh;
    width: 100vw;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../src/assets/hero-img.jpg);
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../src/assets/hero-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

/* Heading */
.primary-heading {
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
}

.primary-heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba(#000 .2);
}


span {
  margin-right: 1.3rem;
  font-weight: bold;
  font-family: "Rubik";
}



/* Navigation Links */

.nav_link {
  background-position: 100%;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 300;
  padding: 8px 6px;
}



.nav_link:hover {
  color: #555;
  background-image: -webkit-linear-gradient(30deg, #fff 50%, transparent 50%);
  background-image: linear-gradient(30deg, #fff 50%, transparent 50%);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5s ease-in-out;

  font-weight: 500;
}


/* Features page  */
.features {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../src/assets/about.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, .6)), url(../src/assets/about.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg);
  background-position: bottom;
}